html {
  position: relative;
}

.bodi {
  background-color: rgb(48, 200, 226);
}

.about hr {
  width: 196px;
  border-top: 3px solid #014e66;
  margin: auto;
}

.biodata {
  padding-left: 25px;
}

.pLeft {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}

.pRight {
  opacity: 0;
  transform: translate(50px, 0) rotate(-15deg);
  transition: 1s;
}

.pLeft.pShow {
  opacity: 1;
  transform: translate(0, 0);
}

.pRight.pShow {
  opacity: 1;
  transform: translate(0, 0);
}

.personal {
  padding-left: 70px;
}

.project hr {
  width: 196px;
  border-top: 3px solid #014e66;
  margin: auto;
}

.jumbroton {
  background-image: url(../img/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 40px;
  color: #3dcaf5;
  overflow: hidden;
}

.jumbroton img {
  width: 200px;
  border: 5px solid #3dcaf5;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);

}

.jumbroton h1,
.jumbroton p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

#project .card {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 0.5s;
}

#project .card.show {
  opacity: 1;
  transform: translate(0, 0);
}

li a {
  color: white;

}

li a:hover {
  color: white;
  font-weight: bold;
}

.active {
  color: white;
  font-weight: bold;
}

h2 {
  text-align: center;
  background-color: aqua;
}

#topbar {
  background: #181717;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #e96b56;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #e96b56;
}

#topbar .social-links a {
  color: #bababa;
  line-height: 0;
  transition: 0.3s;
  margin-left: 10px;
}

#topbar .social-links a:hover {
  color: white;
}